body {
    background-color: white;
    margin: 0px;
}

.navBar {
    overflow: hidden;
    background-color: #000;
    font-family: arial;
    a {
        float: left;
        color: white;
        padding: 8px;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: hotpink;
            transition: 1s;
        }
    }
    .dropdown {
        float: left;
        overflow: hidden;
        &:hover .dropdown-content {
            display: block;
        }
    }
    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 8px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        &:hover {
            color: hotpink;
            transition: 1s;
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }

    .loginForm {
        float: left;
        overflow: hidden;
        &:hover .dropdown-content-user {
            display: block;
        }
    }

    .dropBtnUser {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 8px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        &:hover {
            color: hotpink;
            transition: 1s;
        }        
    }
    
    .dropdown-content-user {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
    }
}


.products {
    color: gray;
    font-weight: bold;
    ul {
        margin-left: 0.5%;
        display: inline-block;
        &:hover {
            color: black;
        }
    }
}

.categoryProducts {
    color: gray;
    font-weight: bold;
    ul {
        margin-left: 0.5%;
        display: inline-block;
        &:hover {
            color: black;
        }
    }
}

.productDetails {
    color: gray;
    display: inline;
}


.cartProducts {
    color: gray;
    max-width: 75%;
    ul {
        display: inline-block;
        max-width: 75%;
    }
}

.orderProductDetail {
    max-width: 75%;
    ul {
        display: inline-block;
    }
}

.valorTotal {
    color: gray;
    top: 10%;
    right: 20%;
    position: fixed;
}

